#homePageEntersite{
	width:100%;
	background: url('../img/home_bg.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 80px;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
}

.regis{
	margin-bottom: 15px;
}

.none-padding{
	padding:0;
}
.footerz{
	padding-left: 40px;
	padding-right: 40px;
}


.leftContent>ul>li{
	display:inline-block;
		margin: 0 10px;
		cursor: pointer;


}

.leftContent>ul>li>.glyphicon{
color:#fff;
}

.topHeader{
	position: fixed;
	height:60px;
	margin-top: 30px;
	color:#fad200;

}

#homePageEntersite>.title{
	font-size: 30px;
	font-weight: bold;
}

#homePageEntersite>.slogan{
	font-size: 22px;
	margin-top: -8px;
	color: #ccc;
}

.centerLogo{
	margin: 0 auto;
	border:10px solid #fff;
	width:500px;
	text-align: center;
	padding-bottom: 10px;

}

.centerLogo>.title{
	font-size: 70px;
	font-weight: bold;
}

.centerLogo>.slogan{
	font-size: 22px;
	margin-top: -10px;
	font-weight: bold;
}




/*            login _ post
-------------------------------------------*/


.login_body{
	background-color: #e0e0e0;
	width: 100%;

}

.login_header{
	width:100%;
	height: 60px	;
	background-color: #000;
	box-shadow: 0 8px 10px rgba(0,0,0,0.4);
	position: fixed;
	z-index: 9999;
}

.login_leftContent{
	padding-top: 6px;
	text-align: left;
}

.login_leftContent>.title{
	font-size: 26px;
	font-weight: bold;
	color: #669933 ;

}


.login_leftContent>.slogan{
	font-size: 12px;
	margin-top: -8px;
	color: #c0c0c0;
}

.login_rightContent{
	margin-top: 5px;
}

.login_avatar{
	
	margin-right: 10px;
	width:40px;
}

.data_email{
	color:#ccc;
	font-weight: bold;
	display: inline-block;
	
}

.login_rightContent{
	cursor: pointer;
	padding: 5px;
	 border-radius: 5px;
}

.login_rightContent:hover{
	background-color: #332C2F;

}

.dropdownData{
	margin-right: 15px;
}

 @media screen and (max-width: 991px) {	
 	.dropdownData{
 		margin-top: 76px;

 	}
}



/*			left_menu
-------------------------------------*/
.left_menu{
	margin-top: 60px;
	width:280px;
	position: fixed;
	display:none;
}
.left_menu.active{
	display:block;
}

.left_menu.area{
		background: url("../img/area.jpg") center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;

}

.left_menu.farm{
		background: url("../img/farm.jpg") center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;

}
.left_menu.plant{
		background: url("../img/plant.jpg") center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;

}

.head_left{
	color:#fff;
	width: 210px;
	margin-left: 30px;
	margin-top: 15px;
	height: 250px;
}

.head_left>.title{
	font-size: 56px;
	font-weight: bold;
}


.head_left>.description{
	font-size: 18px;
	font-weight: bold;
	margin-top: -5px;
}



.area_list_box{
	height: 60px;
	width: 100%;
	color:rgba(255,255,255,0.6);
	border-bottom: 2px solid rgba(255,255,255,0.5);
	font-size: 12px;
	margin-top: 20px;
}

.body_left{
	background-color: rgba(0,0,0,0.5);
	border-top: 2px solid rgba(255,255,255,0.5);
}


#area_head{
	color:rgba(255,255,255,0.8);
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 20px;

}



.area_body_2>.area_list_box{
border-bottom: 0;
}
.area_list_box>.area_head{
	font-weight: bold;
	font-size: 15px;
		color:rgba(255,255,255,0.8);
}

.area_cost_total{
	text-align:right;
	font-size:16px;
	padding-right:30px;
	margin-top:6px;
	color:rgba(255,255,255,0.6);
	font-weight: bold;
}



.area_circle{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #80c31c;
	box-shadow: 0 6px 12px rgba(0 , 0 , 0, 0.6);
	text-align: center;
position: absolute;
	margin-top: -20px;
	margin-left: 35px;
	cursor: pointer;
}


.cart_icon{
	width: 24px;
	margin-top:9px;
}


/*		plant zone
------------------------*/

.main2{
	width:760px;
	margin: 0 auto;
	text-align: center;
}

.plant_box{
width:330px;
margin-left: 15px;
text-align: left;
}

.plant_text_detail{
	font-size: 9px;
	color:#808080;
}


/*  area main body zone
------------------------*/
.area_btn_zoneSelect{
	
	margin-right: 168px;
}

.area_btn_zoneSelect>button{
	width: 320px;
	text-align: left;
}
.area_btn_zoneSelect>ul{
	width: 320px;
}


.area_main_body_content{
	background: url("../img/thmap.png") center left no-repeat;
	width: 680px;
	height: 525px;
	
	margin: 0 auto;
	margin-top: 20px;
	
}


.area_main_body_content>.content{
	height: 525px;
	background-color: rgba(0 , 0 , 0, 0.6);

}




.content_field{
	background-color: #fff;
	height: 525px;
	padding-right: -40px;
}

.ct_head{
	border-bottom: 2px solid #808080;
	margin-bottom: 10px;
}

.ct_head>.title{
	font-size: 30px;
	font-weight: bold;
	padding-top: 25px;
	padding-left: 20px;
}


.ct_head>.description{

font-size: 14px;
padding-left: 22px;
padding-top: -15px;
padding-bottom: 15px;
color: #808080;


}

.p_info >.title{
	font-size: 18px;
	font-weight: bold;

}

.p_info >.descrip{
	cursor: pointer;
	
}

.ct_body>.type{
	border-bottom: 2px solid #808080;
	padding-bottom: 10px;
}

.ct_body>.cost>.title{

}
.icon_AdRemove{
cursor: pointer;
	width:45px;
}
.icon_AdRemove_2{
cursor: pointer;
	width:25px;
}
.icon_AdRemove_2>img{
	width: 18px;
}

.cost>.unit>.table > tbody > tr > td{
	border-top: 0;
}

.cost>.title{
	padding-top: 15px;
	font-size: 18px;
	font-weight: bold;
}

.cost>.descrip{

	padding-bottom: 15px;
}

.unit_text{
	font-size:26px;
	text-align:center;
	font-weight:bold;
}
.unit_text_2{
	font-size:16px;
	text-align:center;
	font-weight:bold;
}
.cost>.unit{

	border-bottom: 2px solid #808080;
}
.unit>table>tbody>tr>td>.type{
	color: #808080;
	margin-top: 10px;

}

.type_99{
	margin-top: 4px;
	font-size: 9px;
}


.cost_detail>.unit>table>tr>td{
	padding: 0;
}

.circle_icon{
	cursor: pointer;
	padding-top: 2px;
}
.circleBox_2{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: #7bc518;
	position: relative;
	margin-left: 190px;
    position: absolute;
    margin-top: 60px;
	z-index: 8000;
}

.rent_btn{
width: 110px;
height: 34px;
background-color: #80c31c;
color: #fff;
padding-top: 8px;
padding-left: 18px;
cursor: pointer;

}
.unit_type{
	color: #808080;
	margin-top: 8px;
	
}


.cost_result{
	padding-top: 20px;
}
.cost_result>table>tbody>tr>td{

border-top: 0;
}







.area_main_body_content>.content{
	display:none;
}

.area_main_body_content>.content.active{
	display:block;
}
/*      Step 2
----------------------*/
#name_at_place{
	color: #fff;
	font-weight: bold;
	padding-left: 16px;
	font-size: 16px;
	padding-bottom: 12px;
}

.graphContainer{
	margin-top: 30px;
	background:url("../img/farm_unit.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.plant_box{
 background-color: #fff;
 display: inline-block;
}


/*		body _ Content
----------------------------*/

body{
		background-color: #e0e0e0;

}
.body_content{
	padding-top: 100px;
	padding-left: 280px;
	background-color: #e0e0e0;
}

.fa_main_container{
	width: 1020px;
}
.graphContainer{
	background-color: #1a1a1a;
	width: 710px;
	height: 265px;
	margin: 0 auto;
	
}

.bgSquare{
	background-color: #808080;
	height: 18px;
	width: 18px;
	margin-bottom: -4px;

}

.rightGraph{
	display: inline-block;
	margin-top: 4px;
}



.graphz{
	margin-top: 5px;
	width: 430px;

}

.graphContainer>.data{
	color:#fff;
	margin-top: 20px;
	margin-left: 15px;
}

.graphContainer>.data>.title{
	font-size: 16px;

}

.graphContainer>.data>.descrip{
	font-size: 12px;

}


.graphDetail_container{
	background-color: #ffffff;
	width:660px;
	margin: 0 auto;
	z-index: 20	;	
	margin-top: -70px;
		box-shadow: 0 6px 12px rgba(0 , 0 , 0, 0.2);

}

.graphDetail_container>.listBox{
	height: 65px;
	border-bottom: 2px solid #ebebeb;
	cursor: pointer;

}

.graphDetail_container>.listBox>.in_center{

	display: inline-block;
	position: absolute;
	margin-top: 20px;
	font-weight: bold;
}



.graphDetail_container>.listBox>.in_left{
	width: 64px;
	height: 64px;
	display: inline-block;
}


.graphDetail_container>.listBox>.in_left>.circle{

 border-radius: 50%;
 width: 20px;
 height: 20px;
 background-color: #088074;
 margin: 0 auto;
 margin-top: 21px;
}


.in_right{
	width:200px;
	display: inline-block;
	position: absolute;
	margin-left: 410px;
	margin-top: 17px;
	display:none;
}


.btnBox{
	width: 45px;
	height: 30px;
	display: inline-block;
	background-color: #1a1a1a;
	margin-left: -4px;
	margin-bottom: -10px;
	z-index: 80	;
	text-align: center;

}
.btnBox:hover{
	background-color: #808080;

}

.in_right>.text{
	display: inline-block;
	margin-right: 10px;

}

.btnBox_imgIcon{
	width: 30px;
	height: 30px;
	
}

.listBox_detail{
	width: 495px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0 6px 12px rgba(0 , 0 , 0, 0.2);
	
}

.main_listbox_detail{
		padding-top: 20px;
		background-color: #e6e6e6;
		padding-bottom: 40px;
		display:none;
}

.listBox_detail>table>tbody>tr{
	 background-color: #e6e6e6;	
	 border-top:2px solid #fff;
}


.circle_2{
 border-radius: 50%;
 width: 20px;
 height: 20px;
 background-color: #088074;
 margin: 0 auto;
 margin-top: 21px;
}


.circle_3{
 border-radius: 50%;
 width: 20px;
 height: 20px;
 background-color: #c20106;
 margin: 0 auto;
 margin-top: 21px;
}



.circle_4{
 border-radius: 50%;
 width: 20px;
 height: 20px;
 background-color: #257b22;
 margin: 0 auto;

}


.profit_tb{
	border: 2px solid #41a529;
}

.profit_tb>.table{
	margin-bottom: 0;
}



/* 			navigate
------------------------------*/
.navigate_bg{
	width: 230px;
	height: 31px;
	background:  url("../img/notactive.png")  right center  no-repeat ;
	padding-left: 19px;
	padding-top: 5px;
	margin-left: -19px;
	position: relative;
	color:#7f7f7f;

}
.navigate_bg.active{
		background:  url("../img/active.png")  right center  no-repeat ;
		color:#fff;

}
.navigate_bg_2{
	width: 230px;
	height: 31px;
	padding-left: 40px;
	padding-top: 5px;
	color:#7f7f7f;
	background:  #fff;
	background-size: cover;
	margin-left: -19px;
}

.navigate_bg_2.active{
		background:  #80c31c;
		color:#fff;


}
.navigator_menu>ul>li{
	display: inline-block;
	text-align: left;

}



.navigator_menu{
	 width: 1020px;
text-align: center;
margin-bottom: 40px;
}
