
<script type="text/javascript" src="js/post_login.js"></script>
<div class="login_body">
	<div class="login_header">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="col-md-2"></div>
				<div class="col-md-8">
						<div class="login_leftContent pull-left">
							<div class="title">FARMASIA</div>
							<div class="slogan">INVEST IN YOUR OWN ORGANIC FARM</div>
						</div>
						
						<div id="btn_profileData" data-toggle="dropdown" class="login_rightContent pull-right">
							<div style="display:inline-block;">
							<img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/75/750245480967b226a8cbd7e9f19112b0ac1e8d27_full.jpg" alt="" class="login_avatar img-rounded">
							</div>
							<div class="data_email">tester@tester.com&nbsp;<span class="caret"></span>&nbsp;</div>
						</div>
						<ul class="dropdown-menu  pull-right dropdownData" role="menu" aria-labelledby="btn_profileData">
						    <li role="presentation"><a id="btn_setting" role="menuitem" tabindex="-1" href="#">Setting</a></li>
						    <li role="presentation"><a id="btn_logout" role="menuitem" tabindex="-1" href="#">Logout</a></li>
						  
						 </ul>
		
					
						
						
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>

<!-- start page 1 left menu-->
	<div class="left_menu area active ">
		<div class="head_left">
			<div class="title">STEP 1</div>
			<div class="description">INVEST IN YOUR OWN ORGANIC FARM</div>
		</div>
		<div class="body_left">
			<div id="area_head">
				YOUR AREA
			</div>
			<div id="area_body">
				<div id="area_box_01" class="area_list_box">
					<div class="col-md-7 area_head">BURIRAM</div>
					<div class="col-md-5 burirumUnit">0 Units</div>
					<div class="col-md-7">Rate</div>
					<div class="col-md-5 burirumCost">0 B</div>
				</div>
				<div id="area_box_02" class="area_list_box">
					<div class="col-md-7 area_head">UDONTANI</div>
					<div class="col-md-5 udontaniUnit">0 Units</div>
					<div class="col-md-7">Rate</div>
					<div class="col-md-5 udontaniCose">0 B</div>
				</div>
			
			</div>
			<div class="area_body_2">
				<div id="area_box_total" class="area_list_box">
					<div class=" col-md-12 area_cost_total " >0 B / month</div>
				</div>
				<div id="btn_area_buy" class="area_circle">
					<img src="img/cart.png" class="cart_icon">
				</div>
			</div>
		</div>
		

	</div>

<!-- start page 2 left menu-->

	<div class="left_menu farm ">
		<div class="head_left">
			<div class="title">STEP 2</div>
			<div class="description">PLANTING</div>
		</div>
		<div id="zone_2" style="display:none;">
				<div id="name_at_place">@BURIRAM , THAILAND</div>

					<div class="body_left">


						<div id="area_head">
							YOUR PLANT
						</div>
						<div id="area_body_plant">
						<!--
							<div id="area_box_01" class="area_list_box">
								<div class="col-md-7 area_head">CORN</div>
								<div class="col-md-5">20 Sq.m.</div>
								<div class="col-md-7">Information</div>
								<div class="col-md-5">500 B</div>
							</div>
							<div id="area_box_02" class="area_list_box">
								<div class="col-md-7 area_head">LEMON</div>
								<div class="col-md-5">50 Sq.m.</div>
								<div class="col-md-7">Information</div>
								<div class="col-md-5">1250 B</div>
							</div>
						-->
						</div>
						<div class="area_body_2">
							<div id="area_box_total" class="area_list_box">
								<div class=" col-md-12 area_cost_total ">0 B / month</div>
							</div>
							<div id="btn_farm_buy" class="area_circle">
								<img src="img/cart.png" class="cart_icon">
							</div>
						</div>
					</div>

		</div>
		
	</div>

<!-- start page 3 left menu-->

	<div class="left_menu plant ">
		<div class="head_left">
			<div class="title">Assets</div>
			<div class="description">INVEST IN YOUR OWN ORGANIC FARM</div>
		</div>
		<div class="body_left">
			<div id="area_head">
				YOUR AREA
			</div>
			<div id="area_body">
				<div id="area_box_01" class="area_list_box">
					<div class="col-md-7 area_head">BURIRAM</div>
					<div class="col-md-5 burirumUnit">0 Units</div>
					<div class="col-md-7">Rate</div>
					<div class="col-md-5 burirumCost">0 B</div>
				</div>
				<div id="area_box_02" class="area_list_box">
					<div class="col-md-7 area_head">UDONTANI</div>
					<div class="col-md-5 udontaniUnit">0 Units</div>
					<div class="col-md-7">Rate</div>
					<div class="col-md-5 udontaniCose">0 B</div>
				</div>
			
			</div>
			<div class="area_body_2">
				<div id="area_box_total" class="area_list_box">
					<div class=" col-md-12 area_cost_total ">0 B / month</div>
				</div>
				<div id="btn_plant_buy" class="area_circle">
					<img src="img/cart.png" class="cart_icon">
				</div>
			</div>
		</div>
	</div>

	<div class="body_content">
		<div class=" container-fluid">
			<div class="navigator_menu" >
				<ul>
					<li id="farm" class="navigate_bg active" style="z-index:20;" > &nbsp; &nbsp; FARM AREA
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; RENT</li>
					<li id="plant" class="navigate_bg " style="z-index:10;" > &nbsp; &nbsp; &nbsp; &nbsp;PLANTING
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;BUY
					</li>
					<li id="manage" class="navigate_bg_2 "  >MANAGE YOUR ASSETS</li>
				</ul>
			</div>
			<div class="fa_main_container">
				


			</div>
			
		</div>
	</div>


</div>



