<div class="area_main_content">
  

    <!-- Single button -->
    <div class="btn-group pull-right area_btn_zoneSelect">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        CHOOSE AREA <span class="caret" style="margin-left:180px"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a id="area_burirum" onclick="dd_check(this)" href="#">BURIRUM</a></li>
        <li><a id="area_udontani" onclick="dd_check(this)"  href="#">UDONTANI</a></li>
        
      </ul>
    </div>
    <div class="col-md-12">
      <div class="area_main_body_content ">

      <!-- content from id -->
        <div id="content_burirum" class="content">
            <div class="col-md-3"></div>
            <div  class="col-md-9 content_field">
                <div class="ct_head">
                  <div class="title">BURIRAM</div>
                  <div class="description">NorthEase, Thailand</div>
                </div>
                <div class="ct_body col-md-12 none-padding">
                    <div class="type col-md-12">
                      <div class="col-md-12 p_info none-padding">
                          <div class="col-md-9 title"  >PLANT AVAILABLE</div>
                          <div class="col-md-3 descrip"  >More Info</div>
                      </div>
                     <div class="col-md-12">
                       <img src="img/plantavailable.png">
                     </div>
                    </div>

                    <div class="cost">
                        <div class="col-md-12 title">
                              COST / UNIT
                        </div>
                        <div class="col-md-12 subtitle">
                              1 Unit = 10 sq.m.
                        </div>
                        <div class="col-md-12 unit">
                          <table class="table" >
                            <tr>
                              <td class="icon_AdRemove"><img id="btnRemove_burirum_unit" src="img/remove.png"></td>
                              <td id="burirum_unit_label" class="unit_text" >10</td>
                              <td class="icon_AdRemove"><img  id="btnAdd_burirum_unit" src="img/add.png"></td>
                              <td> <div id="" class="unit_text">100</div></td>
                              <td> <div class="type">B/ Unit/ Month</div></td>
                            </tr>
                          </table>
                          
                        </div>

                        <div class="col-md-12 cost_result">
                            <table class="table">
                              <tr>
                                <td class="unit_text">= <span id="burirum_cost_label">1000</span>   </td>
                                <td ><div class="unit_type">B/ Unit/ Month</div></td>
                                <td>
                                <div id="rent_111" class="rent_btn">
                                   <img style="display:inline-block;margin-top:-5px;" src="img/cart.png" class="cart_icon">
                                    <div style="display:inline-block;margin-left:4px;">RENT</div>
                                </div>
                                   
                                </td>
                              </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <div id="content_udontani" class="content">
            <div class="col-md-3"></div>
            <div  class="col-md-9 content_field">
                <div class="ct_head">
                  <div class="title">UDONTANI</div>
                  <div class="description">NorthEase, Thailand</div>
                </div>
                <div class="ct_body col-md-12 none-padding">
                    <div class="type col-md-12">
                      <div class="col-md-12 p_info none-padding">
                          <div class="col-md-9 title"  >PLANT AVAILABLE</div>
                          <div class="col-md-3 descrip"  >More Info</div>
                      </div>
                     <div class="col-md-12">
                       <img src="img/plantavailable.png">
                     </div>
                    </div>

                    <div class="cost">
                        <div class="col-md-12 title">
                              COST / UNIT
                        </div>
                        <div class="col-md-12 subtitle">
                              1 Unit = 10 sq.m.
                        </div>
                        <div class="col-md-12 unit">
                          <table class="table" >
                            <tr>
                              <td class="icon_AdRemove"><img id="btnRemove_udontani_unit" src="img/remove.png"></td>
                              <td id="udontani_unit_label" class="unit_text" >10</td>
                              <td class="icon_AdRemove"><img  id="btnAdd_udontani_unit" src="img/add.png"></td>
                              <td> <div  class="unit_text">150</div></td>
                              <td> <div class="type">B/ Unit/ Month</div></td>
                            </tr>
                          </table>
                          
                        </div>

                        <div class="col-md-12 cost_result">
                            <table class="table">
                              <tr>
                                <td class="unit_text">= <span id="udontani_cost_label">1500</span></td>
                                <td ><div class="unit_type">B/ Unit/ Month</div></td>
                                <td>
                                <div class="rent_btn">
                                   <img style="display:inline-block;margin-top:-5px;" src="img/cart.png" class="cart_icon">
                                    <div style="display:inline-block;margin-left:4px;">RENT</div>
                                </div>
                                   
                                </td>
                              </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        
      <!-- end content from id -->



    </div>


    </div>
    

</div>
