			<div class="selectChannel">
					<div class="graphContainer">
					<div class="col-md-12 data" >
						<div class="title">NorthEast</div>
						<div class="descrip">Invesment Summay</div>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-7 ">

					</div>
					
				</div>

				<div class="graphDetail_container">
					<div id="buriram_list" class="listBox">
						<div class="in_left">
							<div class="circle"></div>
						</div>
						<div class="in_center">Buriram, NorthEast, Thailand</div>
						
					</div>
					<div id="udonthani_list" class="listBox">
						<div class="in_left">
							<div class="circle"></div>
						</div>
						<div class="in_center">Udonthani, NorthEast, Thailand</div>
					
					</div>
				</div>
				</div>
				<div id="mainTown" style="display:none;">
					<div class="main2 container-fluid">
						<div id="plant_1" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/corn.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">CORN</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
										2				<div class="col-md-5 none-padding plant_text_detail">Price</div>
										2				<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" class="unit_text_2" id="numberCorn" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div  class="circle_icon" style="text-align:center;">
					                        		<img id="addToCornToCart" src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_1" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/carrot.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">CARROT</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" id="burirum_unit_label" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div class="circle_icon" style="text-align:center;">
					                        		<img src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_3" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/cabbage.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">CABBAGE</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Cabbage" src="img/remove.png"></td>
					                              <td style="padding:0;" id="numberCabbage" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Cabbage" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="cabbageUnit" class="unit_text_2">25</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div id="addCabbageToCard"class="circle_icon" style="text-align:center;">
					                        		<img src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_4" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/tomato.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">TOMATO</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" id="burirum_unit_label" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div id="addTomatoToCart" class="circle_icon" style="text-align:center;">
					                        		<img  src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_5" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/celery.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">CELERY</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" id="burirum_unit_label" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div class="circle_icon" style="text-align:center;">
					                        		<img src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_6" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/lemon.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">LEMON</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" id="burirum_unit_label" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div class="circle_icon" style="text-align:center;">
					                        		<img src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_7" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/daikon.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">DOIKAN</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" id="burirum_unit_label" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div class="circle_icon" style="text-align:center;">
					                        		<img src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div id="plant_7" class="plant_box">
							<table class="table" >
								<tr>
									<td style="width:90px;">
									<img src="img/broccoli.jpg" alt="" style="width:90px;">
									</td>
									<td style="border-bottom:2px solid #808080;">
										<div class="head_detail">
											<div class="col-md-12 none-padding">
												<div class="col-md-12 none-padding">BROCCOLI</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Harvesting Time</div>
														<div class="col-md-7 none-padding plant_text_detail">45-48 Days</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Price</div>
														<div class="col-md-7 none-padding plant_text_detail">20 B/Kg</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Production</div>
														<div class="col-md-7 none-padding plant_text_detail">3 kg/Sq.m./Month</div>
												</div>
												<div class="col-md-12 none-padding">
														<div class="col-md-5 none-padding plant_text_detail">Waste rate</div>
														<div class="col-md-7 none-padding plant_text_detail">0 - 10 %</div>
												</div>
												
											</div>
											
										</div>
										<div class="cost_detail" >
											<div class="col-md-12 unit none-padding" >
					                          <table class="table" style="margin-bottom:10px;margin-top:10px;" >
					                            <tr>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img id="btnRemove_Corn" src="img/remove.png"></td>
					                              <td style="padding:0;" id="burirum_unit_label" class="unit_text_2" >1</td>
					                              <td style="padding:0;" class="icon_AdRemove_2 none-padding"><img  id="btnAdd_Corn" src="img/add.png"></td>
					                              <td style="padding:0;"> <div id="" class="unit_text_2">100</div></td>
					                              <td style="padding:0;"> <div class="type_99">B/ Unit/ Month</div></td>
					                            </tr>
					                          </table>
					                          
					                        </div>	

					                        <div class="circleBox_2">
					                        	<div class="circle_icon" style="text-align:center;">
					                        		<img src="img/cart.png" class="cart_icon">
					                        	</div>
					                        </div>			
										</div>
									</td>
								</tr>
							</table>
						</div>



						




					</div>
				</div>
