<div class="graphContainer">
					<div class="col-md-12 data" >
						<div class="title">NorthEast</div>
						<div class="descrip">Invesment Summay</div>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-7 ">
						<img src="img/main_graph.png" alt="" class="graphz">

					</div>
					<div class="col-md-3" style="padding-left:30px ;margin-top: 20px;">
							<div class="col-md-12">
								<div class="bgSquare rightGraph"></div>
								<div class="rightGraph">936</div>
								<div class="rightGraph">B/m</div>
							</div>
							<div class="col-md-12">
								<div class="bgSquare rightGraph"></div>
								<div class="rightGraph">629</div>
								<div class="rightGraph">B/m</div>
							</div>
							<div class="col-md-12">
								<div class="bgSquare rightGraph"></div>
								<div class="rightGraph">307</div>
								<div class="rightGraph">B/m</div>
							</div>
							
						</div>
				</div>

				<div class="graphDetail_container">
					<div id="list_01" class="listBox">
						<div class="in_left">
							<div class="circle"></div>
						</div>
						<div class="in_center">Sakonnakorn, NorthEast, Thailand</div>
						<div class="in_right list_01">
							<div class="text">View by</div>
							<div id="tb_list_01" class="btnBox  "><img src="img/tableview.png" class="btnBox_imgIcon"></div>
							<div id="graph_list_01" class="btnBox "><img src="img/graphview.png" class="btnBox_imgIcon"></div>
						</div>
					</div>
					<div id="detail_list_01" class="main_listbox_detail">
						<div class="listBox_detail">
							 <table class="table">
							    <thead>
							      <tr>
							        <th><div class="circle_2"></div></th>
							        <th>SALE (THB)</th>
							        <th>UNIT PRICE</th>
							        <th>QTY (sq.m.)</th>
							        <th>AMOUNT</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="">
							        <td></td>
							        <td>CORN</td>
							        <td>50</td>
							        <td>20</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>CABBAGE</td>
							        <td>60</td>
							        <td>10</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>PINEAPPLE</td>
							        <td>50</td>
							        <td>20</td>
							        <td>1000</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>STRAWBERRY</td>
							        <td>60</td>
							        <td>10</td>
							        <td>600</td>
							      </tr>
							      <tr class="">
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							      </tr>
							    </tbody>
							  </table>
						</div>

						<div class="listBox_detail">
							 <table class="table">
							    <thead>
							      <tr>
							        <th><div class="circle_3"></div></th>
							        <th>SALE (THB)</th>
							        <th>UNIT PRICE</th>
							        <th>QTY (sq.m.)</th>
							        <th>AMOUNT</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="">
							        <td></td>
							        <td>CORN</td>
							        <td>50</td>
							        <td>20</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>CABBAGE</td>
							        <td>60</td>
							        <td>10</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>PINEAPPLE</td>
							        <td>50</td>
							        <td>20</td>
							        <td>1000</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>STRAWBERRY</td>
							        <td>60</td>
							        <td>10</td>
							        <td>600</td>
							      </tr>
							      <tr class="">
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							      </tr>
							    </tbody>
							  </table>
						</div>

						<div class="listBox_detail">
							 <table class="table">
							    <thead>
							      <tr>
							        <th><div class="circle_3"></div></th>
							        <th>SALE (THB)</th>
							        <th>UNIT PRICE</th>
							        <th>QTY (sq.m.)</th>
							        <th>AMOUNT</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="">
							        <td></td>
							        <td>CORN</td>
							        <td>50</td>
							        <td>20</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>CABBAGE</td>
							        <td>60</td>
							        <td>10</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>PINEAPPLE</td>
							        <td>50</td>
							        <td>20</td>
							        <td>1000</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>STRAWBERRY</td>
							        <td>60</td>
							        <td>10</td>
							        <td>600</td>
							      </tr>
							      <tr class="">
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							      </tr>
							    </tbody>
							  </table>
						</div>
						<div class="listBox_detail" >
						<div class="profit_tb">
							<table class="table  ">
							 <tr>
							 	<td><div class="circle_4"></div></td>
							 	<td>PROFIT</td>
							 	<td>500</td>	
							 </tr>
							 </table>
						</div>
							 
						</div>


					</div>
					<div id="list_02" class="listBox">
						<div class="in_left">
							<div class="circle"></div>
						</div>
						<div class="in_center">Udonthani, NorthEast, Thailand</div>
						<div class="in_right list_02">
							<div class="text">View by</div>
							<div id="tb_list_02" class="btnBox "><img src="img/tableview.png" class="btnBox_imgIcon"></div>
							<div id="graph_list_02" class="btnBox "><img src="img/graphview.png" class="btnBox_imgIcon"></div>
						</div>
					</div>
					<div id="detail_list_02" class="main_listbox_detail">
						<div class="listBox_detail">
							 <table class="table">
							    <thead>
							      <tr>
							        <th><div class="circle_2"></div></th>
							        <th>SALE (THB)</th>
							        <th>UNIT PRICE</th>
							        <th>QTY (sq.m.)</th>
							        <th>AMOUNT</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="">
							        <td></td>
							        <td>CORN</td>
							        <td>50</td>
							        <td>20</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>CABBAGE</td>
							        <td>60</td>
							        <td>10</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>PINEAPPLE</td>
							        <td>50</td>
							        <td>20</td>
							        <td>1000</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>STRAWBERRY</td>
							        <td>60</td>
							        <td>10</td>
							        <td>600</td>
							      </tr>
							      <tr class="">
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							      </tr>
							    </tbody>
							  </table>
						</div>

						<div class="listBox_detail">
							 <table class="table">
							    <thead>
							      <tr>
							        <th><div class="circle_3"></div></th>
							        <th>SALE (THB)</th>
							        <th>UNIT PRICE</th>
							        <th>QTY (sq.m.)</th>
							        <th>AMOUNT</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="">
							        <td></td>
							        <td>CORN</td>
							        <td>50</td>
							        <td>20</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>CABBAGE</td>
							        <td>60</td>
							        <td>10</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>PINEAPPLE</td>
							        <td>50</td>
							        <td>20</td>
							        <td>1000</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>STRAWBERRY</td>
							        <td>60</td>
							        <td>10</td>
							        <td>600</td>
							      </tr>
							      <tr class="">
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							      </tr>
							    </tbody>
							  </table>
						</div>

						<div class="listBox_detail">
							 <table class="table">
							    <thead>
							      <tr>
							        <th><div class="circle_3"></div></th>
							        <th>SALE (THB)</th>
							        <th>UNIT PRICE</th>
							        <th>QTY (sq.m.)</th>
							        <th>AMOUNT</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="">
							        <td></td>
							        <td>CORN</td>
							        <td>50</td>
							        <td>20</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>CABBAGE</td>
							        <td>60</td>
							        <td>10</td>
							        <td>80</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>PINEAPPLE</td>
							        <td>50</td>
							        <td>20</td>
							        <td>1000</td>
							      </tr>
							      <tr class="">
							        <td></td>
							        <td>STRAWBERRY</td>
							        <td>60</td>
							        <td>10</td>
							        <td>600</td>
							      </tr>
							      <tr class="">
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							        <td>&nbsp;</td>
							      </tr>
							    </tbody>
							  </table>
						</div>
						<div class="listBox_detail" >
						<div class="profit_tb">
							<table class="table  ">
							 <tr>
							 	<td><div class="circle_4"></div></td>
							 	<td>PROFIT</td>
							 	<td>500</td>	
							 </tr>
							 </table>
						</div>
							 
						</div>


					</div>
					<div id="list_03" class="listBox">
						<div class="in_left">
							<div class="circle"></div>
						</div>
						<div class="in_center">Buriram, NorthEast, Thailand</div>
						<div class="in_right list_03">
							<div class="text">View by</div>
							<div id="tb_list_03" class="btnBox "><img src="img/tableview.png" class="btnBox_imgIcon"></div>
							<div id="graph_list_03" class="btnBox  "><img src="img/graphview.png" class="btnBox_imgIcon"></div>
						</div>
					</div>
					<div id="detail_list_03" class="main_listbox_detail">
						<img src="img/gggg.jpg" style="width:100%"alt="">
						
						<div class="listBox_detail" >
						
							 
						</div>


					</div>
				</div>